@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;

    --border-radius: 12px;

    --font-color: #323232;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    color: var(--font-color);
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("./img/sfondo.jpg");
    color: #fff;
    padding: 0 var(--spacing-4)
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90vh;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.navigation-item {
    margin: var(--spacing-1) var(--spacing-4);
}

.navigation-item a {
    text-decoration: none;
    color: #fff;
}

.about-me-container {
    position: absolute;
    top: 10vh;
    display: flex;
}

.about-me-text-container {
    margin-right: var(--spacing-3);
    padding: 15vh 75px 40vh;
    width: 60%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.who-am-I {
    font-size: 1.4em;
}

.cta {
    position:absolute;
    top: 60vh;
    left: 260px;
    width: 250px;
    height: 70px;
    background-color: rgb(255, 214, 9);
    color: #4930d5;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-family: "Proza Libre", sans-serif;
    cursor: pointer;
}

.name {
    font-size: 30px;
    color: rgb(255, 214, 9);
}

.about-me-skills-container {
    width: 40%;
    padding-top: 12vh;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-4);

}
.skill-item {
    width: 60px;
    height: 60px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Proza Libre", sans-serif;
}

.percent{
    font-size: 20px;
    margin-right: 50px;
}

.projects-list {
    padding: 0;
    text-decoration: none;
}

.project {
    padding: var(--spacing-4) 0;
    margin: var(--spacing-4) 0;
    display: flex;
}

.project-container {
    width: 50%;
    padding-right: 8%;
    /* margin-right: 5%; */
}

.project-odd {
    flex-direction: row-reverse;
}

.project-odd .project-container {
    padding-left: 8%;
    /* margin-left: 5%; */
    padding-right: 0;
    margin-right: 0;
}

.project-odd .project-description, .project-odd .project-title {
    text-align: right;
}

.img-container {
    width: 300px;
    height: 160px;
    margin: var(--spacing-4);
    border-radius: 25px;
    background-size: cover;
}

#uas {
    background-image: url("./img/UAS.jpg");
}
#landing-page {
    background-image: url("./img/landing.jpg");
    background-position-y: 80%;
}
#web-hosting {
    background-image: url("./img/web_hosting.jpg");
}

.project-title h3 {
    display: inline;
}

footer {
    padding: var(--spacing-4) 0;
    text-align: right;
}

@media only screen and (max-width: 768px) {

    .about-me-container {
        flex-direction: column;
        height: auto;
    }

    .about-me-text-container {
        padding: var(--spacing-2);
        width: 100%;
    }

    .cta {
        top:73vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-me-skills-container {
        width: 100%;
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .skill {
        flex-direction: column;
        /* gap: var(--spacing-1); */
    }
    .skill-item{
        margin: 0;
    }
    .percent {
        margin: 0;
    }
    #projects {
        margin-top: auto;
    }
    .project-container {
        width: 100%;
    }
    .img-container{
        display: none;
    }
}

/* contact page */

#contact-nav {
    margin-bottom: 0;
}

.contact-container {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);
}

.contact-container h1 {
    width: 100%;
    font-size: 36px;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.contact-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.contact-item h2 {
    display: inline-block;    
}

.contact-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

